$border-color: rgb(121, 121, 121);
$tag-bg-color: rgb(225, 225, 225);

.searchScreen_foto-card {
  width: 300px ;
  margin: 10px ;
//   border: 1px solid $border-color !important;
  border-radius: 8px ;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.searchScreen_image-container {
  position: relative;
  width: 100%;

  img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-radius: 0 0 10px 10px;
  }

  .searchScreen_middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  &:hover {
    img {
      opacity: 0.3;
    }
    .searchScreen_middle {
      opacity: 1;
    }
    
  }

  .searchScreen_image-hover-text {
    background-color: transparent;
    color: rgb(32, 32, 32);
    font-weight: bold;
    font-size: 16px;
    padding: 16px 32px;
  }
}

.searchScreen_tags-container {
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display:none;
        height: 1px;
    }
}

.searchScreen_tags-slider {
    display:table-cell;
    vertical-align:middle;

    
}

.searchScreen_user-photo {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin: 5px;
}