$border-color: rgb(121, 121, 121);
$tag-bg-color: rgb(225, 225, 225);

<<<<<<< HEAD
.foto-card {
  padding: 10px;
  margin: 10px;
  border: 1px solid $border-color;
  border-radius: 8px;
  height: auto;
  width: 200px;
}

.image-container {
=======
.searchScreen_foto-card {
  width: 300px ;
  margin: 10px ;
//   border: 1px solid $border-color !important;
  border-radius: 8px ;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.searchScreen_image-container {
>>>>>>> master
  position: relative;
  width: 100%;

  img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
<<<<<<< HEAD
    border-radius: 8px;
  }

  .middle {
=======
    border-radius: 0 0 10px 10px;
  }

  .searchScreen_middle {
>>>>>>> master
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  &:hover {
    img {
      opacity: 0.3;
    }
<<<<<<< HEAD
    .middle {
=======
    .searchScreen_middle {
>>>>>>> master
      opacity: 1;
    }
    
  }

<<<<<<< HEAD
  .image-hover-text {
=======
  .searchScreen_image-hover-text {
>>>>>>> master
    background-color: transparent;
    color: rgb(32, 32, 32);
    font-weight: bold;
    font-size: 16px;
    padding: 16px 32px;
  }
}

<<<<<<< HEAD
.tags-container {
=======
.searchScreen_tags-container {
>>>>>>> master
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

<<<<<<< HEAD
.tags-slider {
=======
.searchScreen_tags-slider {
>>>>>>> master
    display:table-cell;
    vertical-align:middle;

    &::-webkit-scrollbar {
        display:none;
        height: 1px;
    }
}

<<<<<<< HEAD
.tag {
  padding: 5px 8px;
  margin: 5px;
  font-size: 10px;
  background-color: $tag-bg-color;
  border-radius: 20px;
}
=======
.searchScreen_user-photo {
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin: 5px;
}
>>>>>>> master
