
.container-posts {
    max-width: 93rem;
    margin: 5rem auto 2rem auto;
    padding: 0 2rem;
}

.posts-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding: 1.8rem 0;

    .post-item
    {
        position: relative;
        flex: 2 0 25rem;
        margin: 1rem;
        color: #fff;
        cursor: pointer;

        .post-item-info {
            display: none;

            .icons {
                display: flex;
                justify-content: space-between;
            }

            i {
                font-size: 1.2em;
            }

            li {
                display: inline;
                font-size: 1.3em;
                font-weight: 600;
            }

            .post-item-likes {
                margin-right: 2.2rem;
            }

            .edit-post {
                margin-right: 1rem;
            }

            .delete-post:hover,
            .edit-post:hover {
                color: #4CB0C6;
            }
        }

        .post-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.post-item:hover .post-item-info,
.post-item:focus .post-item-info {
    padding: 1.2rem;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

