// $primary: #FE9A22;
// $secondary: #FFE3C1;

// @import "~bootstrap/scss/bootstrap";

.calltoaction {
  //background-color: #61dafb;
  border-radius: 16px;
  // height: 300px;
  // padding: 30px;
}
.navbar-text{
  height: 100%;
  line-height: 45px;
}

//primary
.btn-primary {
  color: #fff;
  background-color: #FE9A22;
  border-color: #FE9A22;
}

.btn-primary:hover {
  color: #fff;
  background-color: #db7a03;
  border-color: #ac5e00;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #db7a03;
  border-color: #ac5e00;
  box-shadow: 0 0 0 0.2rem rgba(104, 71, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #ac5e00;
  border-color: #ac5e00;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ac5e00;
  border-color: #ac5e00;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(104, 71, 0, 0.5);
}

//secondary
.btn-secondary {
  color: #FE9A22;
  background-color: #FFE3C1;
  border-color: #FFE3C1;
}

.btn-secondary:hover {
  color: #FE9A22;
  background-color: #ffcc8e;
  border-color: #ffcc8e;
}

.btn-secondary:focus, .btn-secondary.focus {
  color: #FE9A22;
  background-color: #ffcc8e;
  border-color: #ffcc8e;
  box-shadow: 0 0 0 0.2rem rgba(255, 215, 141, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #FE9A22;
  background-color: #ffcc8e;
  border-color: #ffcc8e;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #FE9A22;
  background-color: #ffcc8e;
  border-color: #ffcc8e;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 215, 141, 0.5);
}

.bg-primary {
  background-color: #FE9A22 !important;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}