
@import 'user/_UserScreen';
@import 'user/_ProfileCover';
@import 'user/_ProfileMenu';
@import 'user/_ProfilePost';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #404040;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}

.prueba{
    background-color: black;
    border: 1px solid white
}

@import './_place-styles.scss';
@import './_login-styles.scss';
@import './components/Search/_SearchId';
@import './_notFound-styles.scss';
@import './components/searchScreen-styles';
