@import '../base/settings';


//Contenedor padre
.searchId_container{
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    box-shadow: 0px 1px 20px 0px rgba(67, 66, 66, 0.713);
}


//Contenedor main
.searchId_main{
    display: flex;
    width: 100%;

    
}

//contenedor informacion
.searchId_information{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}


.searchId_imagen{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;




}




//Conenedor de la imagen
.searchId_img-container{
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0px 10px 10px 10px;


    .searchId_img{
    width: 100%;
    height: auto;    
    border-radius: 5px;
   }
   
   .searchId_img-info{
       width: 100%;
       height: 60px;
       border-radius: 3px 5px 6px 8px;
       display: flex;
       align-items: center;
        
       .icon-social{
        font-style: 10px;
        color: black;
       }
       .like:hover{
           color: #0375e3;
           
       }
       .here{

       }
       .coment{}

       p{
           font-size: 14px;
           color: black;
           font-style: italic;
       }
    
   }
   
}

//iconos de la imagen
.searchId_img-info-social{
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    p{
        padding: 0px;
        margin: 5px 0 0 0;
    }

}





//pie de la imagen
.searchId_info{
    display: flex;
    width: 95%;
    height: 50%;

    justify-content: flex-start;
    padding: 10px;
    border-top: 1px solid #ccc;

    p{
        font-size: 10px;
        margin: 0;
    }
    span{
        font-size: 12PX;
        color: orange;
    }

}

//mapa
.SearchId_map{
    align-self: center;
    width: 80%;
    height: 250px;
    background-color: blue;
    .gm-style .place-card-medium{
        display: none;
    }
}




//SearchId -user
.searchId_info-user{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7px;
    width: 60%;
    height: auto;
    border-radius: 5px;
    box-shadow:0px 0px 2px rgb(186, 184, 184);
    margin-left: 10px;


    .searchId_info-userid{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        p,h5{
            margin: 0;
            padding: 0;
        }
        h5{
            font-size: 14px;
        }

    }

}


//Iconos generales
.search-icon{
    font-size: 12px;
    color: rgb(255, 111, 0);
}


.searchId_info-user-img{
    
    width: 40px;
    height: 40px;
    border-radius: 100%;

}


.searchId_info-stay{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: $borde;
 

    h5{
        font-size: 16px;
        font-weight: normal;
    }
    .searchId_info-stay-user{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
  
    }


    .searchId_info-user-img{
        
        padding: 1px;
        width: 49px;
        height: 50px;
        margin-left: 0px;
        border: 1px solid orange;
    
    }

    p{
        font-size: 16px;
    }
}


//searchTitle
.searchId_info-title{
    .search_title{
        font-size: 30px;
        text-align: center;
        font-weight: normal;
        text-shadow: 1px 2px 3px #ccc;
    }
}


//SearchLocation
.searchId_info-location{
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
        font-size: 26px;
    }
}





//Responsive
// @media (max-width: 1000px ) {
//     .searchId_imagen{
//         width: 55%;
//     }
    
//     .searchId_info-user{
//         width: 94%;
//     }

//     .searchId_information {
//         width: 45%;
//     }
//     .searchId_info-location{
//         h4{
//             font-size: 22px;
//         }
//         p{
//             font-size: 14px;
//         }
//     }

//     .searchId_info-stay .searchId_info-user-img{
//         width: 40px;
//         height: 40px;
//     }
// } 




@media (max-width: 800px) {

    .searchId_main{
        flex-direction: column;
    }
    .searchId_imagen{
        width: 100%;
    }

    .searchId_information{
        width: 100%;
        flex-direction: column-reverse;
    }
} 
